@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Comic sans MS:ital,wght@0,400;0,700;1,400&display=swap');

body{
	font-family: 'Comic sans MS', sans-serif;
	margin: 0;
	color: #006A0B;
	background-color: #000100;
}
header{
	border-top: 15px solid #006A0B;
	border-bottom: 15px solid #006A0B;
	padding: 30px;
	background-color: #000100;
}
main{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #000100;
}
h1{
	text-align: center;
	font-size: 3em;
	color: #006A0B;
}
h2{
	color: ;
}
h3{
	color: ;
}
nav{
	padding-top: 15px;
}
nav ul{
	list-style-type: none;
	text-align: center;
    background-color: #006A0B;
	border-top: 2px solid #000100;
	border-bottom: 2px solid #000100;
    padding: 15px 0;
    margin-top:0;
	color: #000100;
	font-size: 1em;
}
nav li{
	display:inline;
	margin: 20px;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: #000100;
}
nav a:visited{
	color: #000100;
}
nav a:hover{
	color: #FE7F01;
}
nav a:active{
	color: #FE7F01;
}

a:link{
	color: #FE7F01;
}
a:visited{
	color: #FE7F01;
}
a:hover{
	color: #006A0B;
}
a:active{
	color: #006A0B;
}
.home-hero{
	background-image:url(images/hero.jpg);
	height: 475px;
	background-size:cover;
	background-position: center;
	color: #8B4513;
	padding: 10px;
}
img{
    margin:0 auto;
	border-radius: 30px;
}
blockquote{
	margin: 10px;
	padding-left: 30px;
	text-align: left;
	color: #FE7F01;
}
.gallery .preview{
    width:100%
    height:auto;
}
.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;

}
.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}
.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
.icons .fa{
    color: #006A0B;
}
.fa-pagelines{
	display:block;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
	color: #006A0B;
}
footer{
	color: ;
	background-color: #000100;
	text-align: center;
	border-top: 1px solid #006A0B;
	padding: 10px;
	display: block;
	margin: 40px 0 0 0;
}
.footer-top{
	text-align:left;
	padding: 20px;
    color: #006A0B;
    max-width:1000px;
    margin:0 auto;
}
.footer-bottom{
	background-color: #000100;
	border-top: 1px solid #006A0B;
	padding: 5px;
	color: #006A0B;
	text-align:center;
}
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}