@import url('https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Helvetica', sans-serif;
	background-color: #FFEBCD;
}
main{
	max-width: 1200px;
	margin:0 auto;
}
h1{
	font-size:5em;
    color: #8B4513;
    text-align:center; 
}
h2{
	color: #8B4513;
	font-weight:bold;
}
h3{
    color: #8B4513;
}
.home-hero{
	background-image:url(images/header.jpg);
	height: 475px;
	background-size:cover;
	background-position: center;
	color: #8B4513;
	padding: 10px 10px 10px 30px; 
}
nav ul{
	list-style-type: none;
    text-align: center;
    background-color:#8B4513;
    padding: 15px 0;
    margin-top:0;
    border-top: #808000 2px solid;
    border-bottom: #808000 2px solid;
}
nav li{
	display: inline;
    margin: 5px 10px;
}
nav a{
    text-transform:uppercase;
}
nav a:link{
	color: #FFEBCD;
}
nav a:visited{
	color: #808000;
}
nav a:hover{
	color: #808000;
}
nav a:active{
	color: black;
}
.icons .fa{
	font-size: 5em;
    color: #808000;	
}
.icons{
	text-align:center;
	padding: 40px 0 ;
    color: #808000;
    max-width:1200px;
    margin:0 auto;
}
img{
    margin:0 auto;
    display:block;
}
.col-sm-4 h3{
    text-align:left;
}
blockquote{
	margin:20px 20px 20px 3px;
	color: #8B4513
}

footer{
	color:#FFEBCD;
	background-color: #8B4513;
	text-align:center;
	padding:15px;
	margin:0;
	display:block;
}
footer a:link{
    color:#FFEBCD;
}

/* CSS for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 2em;
	}
}

/* CSS for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.6em;
	}
}
